<a href="https://colab.research.google.com/github/hthomas229/PurpleCrown/blob/main/namedtuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**namedtuple**

###A namedtuple is a factory function that returns a new subclass of tuple, with fields accessible by ***name*** as well as by index.

Why use it?

✅ Clearer, self-documenting code (no magic indices)

✅ Lighter and faster than a full class

✅ Immutable (like tuples)

✅ Supports tuple unpacking

In [ ]:
from collections import namedtuple

##Access by name or index

In [ ]:
Food = namedtuple("Food", ["fruit", "dairy", "protein"])

In [ ]:
food1 = Food("orange", "cheese", "fish")

In [ ]:
food1.dairy

'cheese'

In [ ]:
food1.protein

'fish'

In [ ]:
food1[0]

'orange'

##Unpack

In [ ]:
fruit, dairy, protein = food1

print(f"Fruit: {fruit}")
print(f"Dairy: {dairy}")
print(f"Protein: {protein}")

Fruit: orange
Dairy: cheese
Protein: fish

###Convert to Dictionary

In [ ]:
food1._asdict()

{'fruit': 'orange', 'dairy': 'cheese', 'protein': 'fish'}



# Create a namedtuple class
ClassName = namedtuple('ClassName', ['field1', 'field2', 'field3'])

# Alternative syntax with string
ClassName = namedtuple('ClassName', 'field1 field2 field3')

##Create a small class when you don't need methods

In [ ]:
Dog = namedtuple("Dog", ["name","age","color"])

In [ ]:
dog1 = Dog("Maisie", 6, "black and white")
dog2 = Dog("Scooby Doo", 7, "brown")

In [ ]:
dog1

Dog(name='Maisie', age=6, color='black and white')

In [ ]:
dog2.color

'brown'

Immutability

In [ ]:
Employee = namedtuple('Employee', ['name', 'department', 'salary'])
john = Employee('John Doe', 'Engineering', 75000)

# This will raise an AttributeError
# john.salary = 80000  # Can't modify!

In [ ]:
john.salary = 80000

AttributeError: can't set attribute

_replace method

In [ ]:
# Create a new instance with some fields changed
promoted_john = john._replace(department='Senior Engineering', salary=85000)
print(f"Original: {john}")
print(f"Promoted: {promoted_john}")

Original: Employee(name='John Doe', department='Engineering', salary=75000)
Promoted: Employee(name='John Doe', department='Senior Engineering', salary=85000)

_fields attribute

In [ ]:
print(Employee._fields)  # ('name', 'department', 'salary')

('name', 'department', 'salary')

_make() Class Method

In [ ]:
# Create class object from iterable
employee_data = ['Jane Smith', 'Marketing', 65000]
jane = Employee._make(employee_data)
print(jane)

Employee(name='Jane Smith', department='Marketing', salary=65000)

Example 1: Student Record

In [ ]:
from collections import namedtuple

# Define a Student namedtuple
Student = namedtuple('Student', ['name', 'age', 'grade', 'student_id'])

# Create instances
alice = Student('Alice Johnson', 16, 'A', 'ST001')
bob = Student('Bob Smith', 17, 'B+', 'ST002')

# Access by name (readable)
print(f"Student: {alice.name}, Grade: {alice.grade}")

# Access by index (still works)
print(f"Student: {alice[0]}, Age: {alice[1]}")

# Unpacking works too
name, age, grade, student_id = alice
print(f"{name} is {age} years old")

Student: Alice Johnson, Grade: A
Student: Alice Johnson, Age: 16
Alice Johnson is 16 years old

Example 2: Book Information

In [ ]:
Book = namedtuple('Book', ['title', 'author', 'year', 'isbn', 'pages'])

# Create some books
book1 = Book('1984', 'George Orwell', 1949, '978-0-452-28423-4', 328)
book2 = Book('To Kill a Mockingbird', 'Harper Lee', 1960, '978-0-06-112008-4', 376)

# Access fields
print(f"{book1.title} was written by {book1.author} in {book1.year}")

Exercise 1: Restaurant Menu Item
Create a namedtuple for restaurant menu items and perform various operations.

In [ ]:
# Your task: Create a MenuItem namedtuple
MenuItem = namedtuple('MenuItem', ['name', 'category', 'price', 'calories', 'vegetarian'])

# Create menu items
burger = MenuItem('Classic Burger', 'Main', 12.99, 650, False)
salad = MenuItem('Caesar Salad', 'Appetizer', 8.99, 320, True)
pasta = MenuItem('Spaghetti Carbonara', 'Main', 14.99, 580, False)

# Tasks:
# 1. Print the name and price of each item
# 2. Create a discounted version of the burger (10% off)
# 3. Convert the salad to a dictionary
# 4. Find all vegetarian items from a list of menu items

menu_items = [burger, salad, pasta]

# Solution:
print("Menu Items:")
for item in menu_items:
    print(f"{item.name}: ${item.price}")

discounted_burger = burger._replace(price=round(burger.price * 0.9, 2))
print(f"\nDiscounted: {discounted_burger.name} - ${discounted_burger.price}")

print(f"\nSalad as dict: {salad._asdict()}")

vegetarian_items = [item for item in menu_items if item.vegetarian]
print(f"\nVegetarian options: {[item.name for item in vegetarian_items]}")

Exercise 2: Weather Data
Create a system to handle weather observations.

In [ ]:
WeatherObservation = namedtuple('WeatherObservation', [
    'date', 'temperature', 'humidity', 'pressure', 'wind_speed', 'condition'
])

# Create weather data
observations = [
    WeatherObservation('2024-01-15', 22, 65, 1013.2, 8.5, 'Sunny'),
    WeatherObservation('2024-01-16', 18, 78, 1008.1, 12.3, 'Cloudy'),
    WeatherObservation('2024-01-17', 15, 85, 1005.5, 15.7, 'Rainy'),
    WeatherObservation('2024-01-18', 25, 60, 1018.3, 5.2, 'Sunny'),
]

# Your tasks:
# 1. Find the hottest day
# 2. Calculate average humidity
# 3. Find all rainy days
# 4. Create a summary with just date, temperature, and condition

# Solutions:
hottest_day = max(observations, key=lambda obs: obs.temperature)
print(f"Hottest day: {hottest_day.date} ({hottest_day.temperature}°C)")

avg_humidity = sum(obs.humidity for obs in observations) / len(observations)
print(f"Average humidity: {avg_humidity:.1f}%")

rainy_days = [obs for obs in observations if obs.condition == 'Rainy']
print(f"Rainy days: {[obs.date for obs in rainy_days]}")

# Create a summary namedtuple
Summary = namedtuple('Summary', ['date', 'temperature', 'condition'])
summaries = [Summary(obs.date, obs.temperature, obs.condition) for obs in observations]
for summary in summaries:
    print(f"{summary.date}: {summary.temperature}°C, {summary.condition}")

Exercise 3: Movie Database
Work with movie information and ratings.

In [ ]:
Movie = namedtuple('Movie', ['title', 'director', 'year', 'genre', 'rating', 'duration_minutes'])

movies = [
    Movie('The Shawshank Redemption', 'Frank Darabont', 1994, 'Drama', 9.3, 142),
    Movie('The Godfather', 'Francis Ford Coppola', 1972, 'Crime', 9.2, 175),
    Movie('Pulp Fiction', 'Quentin Tarantino', 1994, 'Crime', 8.9, 154),
    Movie('Inception', 'Christopher Nolan', 2010, 'Sci-Fi', 8.8, 148),
    Movie('Forrest Gump', 'Robert Zemeckis', 1994, 'Drama', 8.8, 142),
]

# Your tasks:
# 1. Find movies from 1994
# 2. Find the longest movie
# 3. Calculate average rating
# 4. Group movies by genre
# 5. Create a "short info" version with just title, year, and rating

# Solutions:
movies_1994 = [movie for movie in movies if movie.year == 1994]
print("Movies from 1994:")
for movie in movies_1994:
    print(f"  {movie.title}")

longest_movie = max(movies, key=lambda m: m.duration_minutes)
print(f"\nLongest movie: {longest_movie.title} ({longest_movie.duration_minutes} minutes)")

avg_rating = sum(movie.rating for movie in movies) / len(movies)
print(f"Average rating: {avg_rating:.1f}")

# Group by genre
from collections import defaultdict
by_genre = defaultdict(list)
for movie in movies:
    by_genre[movie.genre].append(movie.title)

print("\nMovies by genre:")
for genre, titles in by_genre.items():
    print(f"  {genre}: {titles}")

# Short info namedtuple
ShortInfo = namedtuple('ShortInfo', ['title', 'year', 'rating'])
short_infos = [ShortInfo(m.title, m.year, m.rating) for m in movies]
print("\nShort info:")
for info in short_infos:
    print(f"  {info.title} ({info.year}): {info.rating}/10")

Advanced Usage
Default Values

In [ ]:
# Using defaults parameter (Python 3.7+)
Task = namedtuple('Task', ['name', 'priority', 'completed'], defaults=[1, False])

# Only name is required
task1 = Task('Write tutorial')
print(task1)  # Task(name='Write tutorial', priority=1, completed=False)

task2 = Task('Review code', 3, True)
print(task2)  # Task(name='Review code', priority=3, completed=True)

Inheritance and Extension

In [ ]:
# You can subclass namedtuples
class ExtendedStudent(Student):
    def is_honor_student(self):
        return self.grade in ['A', 'A+']

    def get_display_name(self):
        return f"{self.name} (ID: {self.student_id})"

student = ExtendedStudent('Carol Wilson', 17, 'A', 'ST003')
print(student.is_honor_student())  # True
print(student.get_display_name())  # Carol Wilson (ID: ST003)

When to Use namedtuple
Good Use Cases:

Small, immutable data structures
Replacing dictionaries when field names are known
Function return values with multiple components
Configuration objects
Database record representations

Example: Function Returns

In [ ]:
def analyze_text(text):
    words = text.split()
    Analysis = namedtuple('Analysis', ['word_count', 'char_count', 'avg_word_length'])

    word_count = len(words)
    char_count = len(text)
    avg_length = sum(len(word) for word in words) / word_count if words else 0

    return Analysis(word_count, char_count, round(avg_length, 2))

result = analyze_text("Hello world, this is a test!")
print(f"Words: {result.word_count}, Characters: {result.char_count}")
print(f"Average word length: {result.avg_word_length}")

Performance Comparison

In [ ]:
import sys

# Memory usage comparison
regular_tuple = ('Alice', 25, 'Engineer')
Student = namedtuple('Student', ['name', 'age', 'job'])
named_tuple_instance = Student('Alice', 25, 'Engineer')
regular_dict = {'name': 'Alice', 'age': 25, 'job': 'Engineer'}

print(f"Regular tuple size: {sys.getsizeof(regular_tuple)} bytes")
print(f"Named tuple size: {sys.getsizeof(named_tuple_instance)} bytes")
print(f"Dictionary size: {sys.getsizeof(regular_dict)} bytes")

# namedtuples are as memory-efficient as regular tuples
# but much more memory-efficient than dictionaries

Summary

namedtuple creates tuple subclasses with named fields
Immutable - cannot modify after creation
Memory efficient - same as regular tuples
Readable - access fields by name instead of index
Useful methods: _replace(), _asdict(), _make(), _fields
Perfect for small, structured data that doesn't change